snippet react
	/** @jsx React.DOM */

	var React = require('react');

	var ${1:Component} = React.createClass({

	  /* LOGIC */

	  /* LIFECYCLE EVENTS */

	  /* RENDER */

	  render: function () {
	    return ();
	  },

	});

	module.exports = $1;
